.footer {
  height: 70vh;
  background-image: url(../../assets/footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text {
  color: $font-contrast;
}
.footer-content {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.footer-btn {
  padding: 15px;
  color: $font-contrast;
  border: 1px solid $accent2;
  cursor: pointer;
  background: none;
}
.footer-btn:hover {
  background-color: $accent2;
}
