.test-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #d3d3d3;
}
.testimonials-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  p {
    text-align: center;
    padding: 0 10px;
  }
}
.testimonials-item > * {
  margin-bottom: 10px;
}
.testimonials {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background: $accent5;
  margin-bottom: 5px;
}
